<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>В гостях у пчелки
    </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <a href=" " class="logo"></a>

        <nav class="navigation">
            <ul>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                       Main
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        about us
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                       Our product
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        information
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        contacts
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div>
            <div class="text">Honey Sale</div>

            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna ante, egestas ac nibh sit
                amet, vehicula posuere quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                pretium consequat volutpat. Integer ultricies ligula eget arcu volutpat vehicula. Sed et congue nisi, ac
                cursus ex. Duis tempus arcu magna, quis auctor odio congue in. Duis nunc leo, tempor nec dignissim sed,
                euismodvel nibh.
            </a>

            <img class="img" src="images/bee.jpg">
            <a>Sed consequat lobortis tellus quis fringilla. Aenean eleifend sapien quis tellus rhoncus, et
                elementum
                justo pulvinar. Vestibulum gravida metus non turpis congue dignissim. Cras vitae urna nibh. Morbi
                consectetur ex vel cursus bibendum. Nunc dignissim massa non lacus commodo fringilla. Sed id ipsum
                ac</a>
            <div class="text2">Honey Pise</div>
            <table border="1">  <!--Таблица-->
                <thead> <!--Верхний ряд таблицы-->
                <tr>  <!--Строка таблицы-->
                    <th>Type</th> <!--1 Столбец таблицы-->
                    <th>Prise</th> <!--1 Столбец таблицы-->
                    <th>Availability</th> <!--1 Столбец таблицы-->
                </tr> <!--Строка-->
                </thead>

                <tbody class="main3"> <!--ТЕЛО ТАБЛИЦЫ -->
                <tr> <!--Строка таблицы-->
                    <td>Linden</td> <!--Ячейка таблицы-->
                    <td> 20$ per liter </td>
                    <td>10 tons</td>


                </tr>
                <tr>
                    <td>Pine</td>
                    <td>  30$ per liter</td>
                    <td>7 tons</td>

                </tr>
                <tr>
                    <td>Clover</td>
                    <td>  40$ per liter</td>
                    <td>5 tons</td>

                </tr>
                <tr>
                    <td>Dandelion</td>
                    <td>  50$ per liter</td>
                    <td> 1 ton</td>

                </tr>
                </tbody>
            </table>
            <h3 class="text3">Honey is the Best Medicine</h3>
            <a>Nulla eros justo, vulputate ac eros in, semper pharetra ex. Interdum et malesuada fames ac ante
                ipsum
                primis in faucibus. Quisque venenatis pellentesque lacus, eget commodo velit. Vivamus porta lobortis
                elit, fringilla imperdiet leo placerat id. Sed volutpat et tortor id ultricies. Integer efficitur mi
                id
                dui porta eleifend. Aliquam aliquet condimentum eros eu euismod. Interdum et malesuada fames ac ante
                ipsum primis in faucibus. Vivamus euismod accumsan mauris at tincidunt. Etiam euismod vitae elit ut
                feugiat.</a>

            <h3 class="text4">To Order the Honey</h3>
            <a>Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum.
                Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae
                tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio
                pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue
                dui
                accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in,
                iaculis
                magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.</a>
            <img class="img" src="images/bee2.jpg">
            <a> Pellentesque pellentesque sem ac justo tristique pellentesque. Vestibulum semper pulvinar rutrum.
                Maecenas odio urna, porta sed lectus eget, fringilla posuere odio. Maecenas pulvinar sed massa vitae
                tincidunt. Praesent ullamcorper est ac lorem aliquet, sed tempus lacus iaculis. Pellentesque a odio
                pharetra, sagittis enim sit amet, euismod leo. Nullam egestas, nisi eget blandit dignissim, augue
                dui
                accumsan est, at tincidunt ipsum metus quis justo. Aenean sed mauris ornare, faucibus tortor in,
                iaculis
                magna. Duis eros lectus, auctor eu mi sit amet, ornare scelerisque elit.

                Integer a sollicitudin quam. Sed laoreet finibus velit ut rhoncus. Nunc euismod neque at ligula
                venenatis vestibulum. Nulla facilisi. Nunc aliquet, erat sed ullamcorper malesuada, sapien magna
                tempor
                augue, at malesuada felis enim at quam. Curabitur ornare tincidunt nisi id cursus. Nunc finibus non
                massa in vestibulum. Etiam euismod metus ut euismod sagittis. Donec tincidunt neque a dolor posuere
                egestas. Proin sed dolor dui. In urna tellus, pretium in eleifend eget, pellentesque et enim. Etiam
                pulvinar velit nec libero iaculis, vitae consectetur elit pellentesque. </a>
            <h3 class="text5">Honey Harmful Properties</h3>

           <a>Cras ante dui, auctor vitae turpis ut, mollis sagittis tortor. Vivamus eget auctor tellus. Curabitur
            in venenatis augue, at porttitor massa. Nam ut malesuada sapien. In at ante rhoncus, tristique odio
            vitae, congue lorem. Nam vel viverra justo. Sed eros velit, pellentesque vitae felis id, luctus
            pretium ipsum. Sed lobortis.

            Cras ante dui, auctor vitae turpis ut, mollis sagittis tortor. Vivamus eget auctor tellus. Curabitur
            in venenatis augue, at porttitor massa. Nam ut malesuada sapien. In at ante rhoncus, tristique odio
            vitae, congue lorem. Nam vel viverra justo. </a>
        </div>

        <div>
            <h4 class="text5">Benefits of Honey</h4>

            <a class="text5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu laoreet mi, at dignissim
                turpis. Phasellus suscipit.

                Nulla mollis lacus vel velit convallis, a facilisis justo tincidunt. Vestibulum dapibus
                consequat metus id commodo. Etiam tincidunt ornare erat, non egestas lectus cursus aliquam.
                Vivamus.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Mauris vitae iaculis risus. Suspendisse.

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu laoreet mi, at dignissim
                turpis. Phasellus suscipit.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Mauris vitae iaculis risus.

                Duis et luctus magna, vel aliquam est. Nulla laoreet est in malesuada viverra. Vivamus odio
                massa, placerat id lacus id, semper fermentum sapien. Praesent.

                Mauris id euismod neque. Nulla non nunc sed enim lacinia dapibus et non mi. Nam nisl massa,
                efficitur in auctor et, finibus quis est. Proin nec laoreet tortor, sed porttitor.
            </a>
            <h3 class="text5">Honey Harmful Properties</h3>

            <a>Cras ante dui, auctor vitae turpis ut, mollis sagittis tortor. Vivamus eget auctor tellus. Curabitur
                in venenatis augue, at porttitor massa. Nam ut malesuada sapien. In at ante rhoncus, tristique odio
                vitae, congue lorem. Nam vel viverra justo. Sed eros velit, pellentesque vitae felis id, luctus
                pretium ipsum. Sed lobortis.

                Cras ante dui, auctor vitae turpis ut, mollis sagittis tortor. Vivamus eget auctor tellus. Curabitur
                in venenatis augue, at porttitor massa. Nam ut malesuada sapien. In at ante rhoncus, tristique odio
                vitae, congue lorem. Nam vel viverra justo. </a>
        </div>

    </main>
    <footer class="footer">
        www.pchela.com@ 2010-2015. Honey
    </footer>
    <!-- Подвал сайта -->

</body>
</html>