<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OOO Ромашка</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <a href=" " class="logo"></a>

        <nav class="navigation">
            <ul>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                       Main
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        about us
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                       Our product
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        information
                    </a>
                </li>
                <li>
                    <a href="https://yandex.ru/games/app/257468#app-id=257468&catalog-session-uid=catalog-08afd7d6-f0fe-5b12-95e3-c67b3217f0e2-1730380200006-a797&rtx-reqid=4839317426623891709&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22search%22%7D&redir-data=%7B%22block%22%3A%22search%22%2C%22block_index%22%3A0%2C%22card%22%3A%22adaptive_recommended_new%22%2C%22col%22%3A0%2C%22first_screen%22%3A1%2C%22page%22%3A%22search%22%2C%22rn%22%3A421820663%2C%22row%22%3A0%2C%22rtx_reqid%22%3A%2212144558062080794453%22%2C%22same_block_index%22%3A0%2C%22wrapper%22%3A%22grid-list%22%2C%22request_id%22%3A%221730383941952795-13322518106626615404-dmhos7ujuvjnjbof-BAL%22%2C%22http_ref%22%3A%22https%253A%252F%252Fyandex.ru%252Fgames%252Fsearch%253Fysclid%253Dm2xbow5n8d205165281%2526query%253DSally%252520face%22%7D&search_query=Sally%20face">
                        contacts
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
       <div class="text">Honey Sale</div>


        <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna ante, egestas ac nibh sit
            amet, vehicula posuere quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            pretium consequat volutpat. Integer ultricies ligula eget arcu volutpat vehicula. Sed et congue nisi, ac
            cursus ex. Duis tempus arcu magna, quis auctor odio congue in. Duis nunc leo, tempor nec dignissim sed,
            euismodvel nibh.
        </a>

        <img class="img" src="images/bee.jpg">
        <a>Sed consequat lobortis tellus quis fringilla. Aenean eleifend sapien quis tellus rhoncus, et
            elementum
            justo pulvinar. Vestibulum gravida metus non turpis congue dignissim. Cras vitae urna nibh. Morbi
            consectetur ex vel cursus bibendum. Nunc dignissim massa non lacus commodo fringilla. Sed id ipsum
            ac</a>
        <div class="text2">Honey Pise</div>
        <table border="1">  <!--Таблица-->
            <thead> <!--Верхний ряд таблицы-->
            <tr>  <!--Строка таблицы-->
                <th>Type</th> <!--1 Столбец таблицы-->
                <th>Prise</th> <!--1 Столбец таблицы-->
                <th>Availability</th> <!--1 Столбец таблицы-->
            </tr> <!--Строка-->
            </thead>

            <tbody class="main3"> <!--ТЕЛО ТАБЛИЦЫ -->
            <tr> <!--Строка таблицы-->
                <td>Linden</td> <!--Ячейка таблицы-->
                <td> 20$ per liter </td>
                <td>10 tons</td>


            </tr>
            <tr>
                <td>Pine</td>
                <td>  30$ per liter</td>
                <td>7 tons</td>

            </tr>
            <tr>
                <td>Clover</td>
                <td>  40$ per liter</td>
                <td>5 tons</td>

            </tr>
            <tr>
                <td>Dandelion</td>
                <td>  50$ per liter</td>
                <td> 1 ton</td>

            </tr>
            </tbody>
        </table>
    </main>

    <!-- Подвал сайта -->

</body>
</html>