body {
    margin: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
}



.header {
    display: flex;
    align-items: center;  ;
    background-color: orange ;
    color: #ffff;
    padding-top: 10px; /* внутренний отступ сверху
    /* padding-bottom: 10px; */
}

.logo {
    color: #ffff;
    font-size: 24px;
    text-decoration: none; /*убирает подчеркивания */
}


.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation  li {
    margin-right: 40px;
}

.main  {
    display: flex;
    justify-content: flex-start;
    background:  white;
    flex-grow: 1; /*Растянем данный блок */
}

.main h1 {
    margin-top: 0;
    margin-bottom: 40px;

}


.main button:hover {
    width: 200px;
    height: 50px;
    background: green;
    color: #ffff;
    border: none;
    cursor: pointer;

}

.footer {
    background: aqua;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px ;
}


.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
}


.text {
padding-right: 500px;
}
.text2 {
    padding-right: 625px;
}

.img {
    padding-right: 100px;
}

.main3 {
    padding-right: 500px;
}

table {
    width: 100%;
}
.text3 {
    /*padding-right: 480px;*/
}
.text4 {
    /*padding-right: 530px;*/
}
.text5 {
    /*padding-left: 1000px;*/
}

.footer {
    color: white;
    background: orange;
}